@font-face {
  font-family: 'disco_deckregular';
    src: url('../fonts/discodeck/discodeck-webfont.eot');
    src: url('../fonts/discodeck/discodeck-webfont.eot?#iefix') format('embedded-opentype'),
   url('../fonts/discodeck/discodeck-webfont.woff') format('woff'),
   url('../fonts/discodeck/discodeck-webfont.ttf') format('truetype'),
   url('../fonts/discodeck/discodeck-webfont_1.svg#disco_deckregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

header {
	background: transparent;
}

body {
	font-family: 'Avenir Next', 'Roboto', sans-serif;
	background: transparent;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100%;
	overflow: hidden;
	position: relative;
}

/* Hero Header */

.segmenter {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.segmenter__image {
	width: 100%;
	display: block;
}

.segmenter__background,
.segmenter__pieces,
.segmenter__piece-wrap,
.segmenter__piece-parallax,
.segmenter__piece {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.segmenter__piece-parallax {
	-webkit-transition: -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
}

.segmenter__pieces {
	-webkit-perspective: 400px;
	perspective: 400px;
}

.segmenter__background,
.segmenter__piece {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.segmenter__shadow {
	position: absolute;
	opacity: 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.7);
}

/* Individual shadow styles */
.anson .segmenter__shadow {
	box-shadow: 0px 20px 50px rgba(18, 20, 28, 0.61);
}

/* Links */

a {
	text-decoration: none;
	letter-spacing: 3px;
	color: #fff;
	outline: none;
	font-smooth: always;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

a:hover,
a:focus {
	color: #fff;
}

.links {
	position: absolute;
	width: 100%;
    bottom: 6%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 999;
	font-size: 16px;
	font-weight: 300;
	text-transform: uppercase;
    text-shadow: 3px 3px 17px rgb(0, 0, 0);
}

.links a,
.text a {
	display: inline-block;
	margin: 0 20px 20px;
	background-repeat: no-repeat;
	background-size: 100% 0.2em;
	background-image: radial-gradient(circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);
	background-position: 0 100%;
	transition: background-size 0.25s ease-in;
}

.links a:hover,
.links a:focus,
.text a:hover,
.text a:focus {
	background-size: 100% 100%;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.about {
	margin: 6vh 0 0 0;
	font-size: 1em;
	letter-spacing: 3px;
	cursor: pointer;
	white-space: pre;
	color: white;
	pointer-events: auto;
}

.about:hover,
.about:focus {
	color: white;
}

.about span {
	display: inline-block;
}

/* Icons */

.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

/* Content */

.content {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.trigger-headline {
	font-family: "disco_deckregular", sans-serif;
	top: 0;
	left: 0;
	position: absolute;
	font-size: 8vw;
	text-transform: uppercase;
	pointer-events: none;
	line-height: 1;
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: -37px 0 0 0;
	text-shadow: 10px 10px 10px rgba(0,0,0,0.2);
	color: #fff;
}

.trigger-subheadline {
	top: 1em;
}

.trigger-headline h2 {
	margin: 0;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.trigger-headline span, .trigger-subheadline span, .work {
	display: inline-block;
	position: relative;
	padding: 0 2vw;
	-webkit-transition: opacity 2s, -webkit-transform 2s;
	transition: opacity 2s, transform 2s;
	-webkit-transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	transition-timing-function: cubic-bezier(0.2,1,0.3,1);
	-webkit-transition-delay: 0.7s;
	transition-delay: 0.7s;
}

.js .work {
	-webkit-transform: translate3d(-50%, 100px, 0);
	transform: translate3d(-50%, 100px, 0);
}

.js .trigger-headline--hidden span {
	pointer-events: none;
	opacity: 0;
}

.js .trigger-headline--hidden span:nth-child(1) {
	-webkit-transform: translate3d(-100px,0,0);
	transform: translate3d(-100px,0,0);
}

.js .trigger-headline--hidden span:nth-child(2) {
	-webkit-transform: translate3d(-50px,0,0);
	transform: translate3d(-50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(3) {
	-webkit-transform: translate3d(-25px,0,0);
	transform: translate3d(-25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(4) {
	-webkit-transform: translate3d(25px,0,0);
	transform: translate3d(25px,0,0);
}

.js .trigger-headline--hidden span:nth-child(5) {
	-webkit-transform: translate3d(50px,0,0);
	transform: translate3d(50px,0,0);
}

.js .trigger-headline--hidden span:nth-child(6) {
	-webkit-transform: translate3d(100px,0,0);
	transform: translate3d(100px,0,0);
}

/* Content Layout & SVG Page Transition */

.main {
	z-index: 10000;
	height: 100vh;
}

.content {
	width: 100%;
	height: 100vh;
	position: relative;
}

.content--intro {
	z-index: 100;
	height: 200vh;
}

.content--fixed {
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	background-position: 50% 50%;
	background-size: cover;
}

.content__inner {
	top: 0;
	width: 100%;
	height: 100vh;
	position: relative;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content--intro .content__inner {
	background: white;
}

.shape-wrap {
	position: relative;
	z-index: 10;
	margin: -5px 0 0 0;
	/* Hide the gap */
}

.shape {
	height: 100vh;
	width: 100%;
	display: block;
	fill: #222325;
}

.content__about {
	background-image: linear-gradient(135deg, #52E5E7 10%, #130CB7 100%);
}

.content__about h3 {
	color: white;
}

.me {
	border-radius: 50%;
	border: 10px solid white;
	margin-bottom: 50px;
	width: 300px;
	height: 300px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}

.text {
	color: white;
	display: block;
	width: 600px;
	margin: 0 auto;
	text-align: left;
}

.text h2 {
	font-size: 2.1em;
	margin: 0;
}

.text h2 span {
	font-size: 2em;
	background: radial-gradient(circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	letter-spacing: -2px;
}

.hi-emoji {
	margin-top: 0.5em;
	font-size: 2em;
}

.text a {
	margin: 0;
	letter-spacing: 0px;
}

/* Text Back Navigation */

.back {
	position: absolute;
	top: 10%;
	left: 0;
}

nav a {
	position: absolute;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.nav-fillpath a {
	width: 100px;
	height: 100px;
}

.nav-fillpath .icon-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	background-image: radial-gradient(circle farthest-corner at -4% -12.9%, rgba(74, 98, 110, 1) 0.3%, rgba(30, 33, 48, 1) 90.2%);
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	z-index: 100;
	height: 0;
	background: #fff;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-fillpath h3 {
	position: absolute;
	top: 50%;
	margin: 0;
	color: #fff;
	font-weight: 300;
	font-size: 16px;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-fillpath a.prev h3 {
	left: 100%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
	height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a:hover h3 {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}

/* Media Queries */

@media (max-width: 1000px) {
	.me {
		position: absolute;
		top: 5%;
	}

	.text {
		margin-top: 300px;
		font-size: 0.8em;
	}
}

@media (max-width: 700px) {
	.me {
		position: absolute;
		top: 5%;
		right: 5%;
		height: 200px;
		width: 200px;
		border: 5px solid white;
	}

	.text {
		margin-top: 10em;
		font-size: 0.8em;
		width: 80%;
	}
}

@media (max-width: 550px) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
		top: 6%;
	}
	.me {
		position: absolute;
		top: 2%;
		right: 10%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.text {
		width: 100%;
		font-size: 0.68em;
		margin-top: 6em;
		padding: 0 30px;
	}

	.text h2 {
		font-size: 1.5em;
	}
}

@media (max-width: 320px) {
	.text {
		width: 100%;
		font-size: 0.58em;
		margin-top: 100px;
		padding: 0 30px;
	}

	.text h2 {
		font-size: 1.5em;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}

	.me {
		position: absolute;
		top: 5%;
		right: 10%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.hi-emoji {
		margin-top: 0.2em;
		font-size: 1.3em;
		text-align: center;
	}

	.text {
		width: 100%;
		font-size: 0.6em;
		margin-top: 4em;
		padding: 0 70px;
	}

	.text h2 {
		font-size: 1.4em;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}

	.me {
		position: absolute;
		top: 5%;
		right: 10%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.hi-emoji {
		margin-top: 0.2em;
		font-size: 1.3em;
		text-align: center;
	}

	.text {
		width: 100%;
		font-size: 0.6em;
		margin-top: 4em;
		padding: 0 70px;
	}

	.text h2 {
		font-size: 1.4em;
	}
}

/* Landscape iPhone 5 series */
@media only screen 
	and (min-device-width: 320px) 
	and (max-device-width: 568px) 
	and (-webkit-min-device-pixel-ratio: 2) 
	and (orientation: landscape) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
		top: 15%
	}

	.me {
		position: absolute;
		top: 5%;
		right: 3%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.hi-emoji {
		margin-top: 0;
		text-align: center;
		font-size: 1.2em;
	}

	.text {
		width: 100%;
		font-size: 0.4em;
		margin-top: 5em;
		padding: 0 30px;
	}

	.text h2 {
		font-size: 1.2em;
		text-align: center;
	}

	.text p {
		margin: 0.7em;
	}
}

/* Landscape iPhone 6 series */
@media only screen 
	and (min-device-width: 375px) 
	and (max-device-width: 667px) 
	and (-webkit-min-device-pixel-ratio: 2) 
	and (orientation: landscape) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}

	.me {
		position: absolute;
		top: 5%;
		right: 3%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.text {
		width: 100%;
		font-size: 0.59em;
		margin-top: 5em;
		padding: 0 30px;
	}

	.text h2 {
		font-size: 1.2em;
	}
}


/* Landscape iPhone Plus */
@media only screen and (min-device-width: 414px) 
	and (max-device-width: 736px) 
	and (-webkit-min-device-pixel-ratio: 3) 
	and (orientation: landscape) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}
	.me {
		position: absolute;
		top: 5%;
		right: 10%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.text {
		width: 100%;
		font-size: 0.6em;
		margin-top: 5em;
		padding: 0 30px;
	}

	.text h2 {
		font-size: 1.5em;
	}
}

/* Landscape iPhone X */
@media only screen and (min-device-width: 375px) 
	and (max-device-width: 812px) 
	and (-webkit-min-device-pixel-ratio: 3) 
	and (orientation: landscape) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}

	.me {
		position: absolute;
		top: 5%;
		right: 10%;
		height: 70px;
		width: 70px;
		border: 3px solid white;
	}

	.hi-emoji {
		margin-top: 0.2em;
		font-size: 1.3em;
		text-align: center;
	}

	.text {
		width: 100%;
		font-size: 0.6em;
		margin-top: 4em;
		padding: 0 70px;
	}

	.text h2 {
		font-size: 1.4em;
	}
}

@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px) 
	and (orientation: landscape) 
	and (-webkit-min-device-pixel-ratio: 2) {
	.nav-fillpath a {
		height: 70px;
		width: 70px;
	}

	.me {
		position: absolute;
		top: 5%;
		right: 10%;
		height: 100px;
		width: 100px;
		border: 3px solid white;
	}

	.hi-emoji {
		margin-top: 0.2em;
		font-size: 1em;
		text-align: center;
	}

	.text {
		width: 100%;
		font-size: 0.7em;
		margin-top: 4em;
		padding: 0 70px;
	}

	.text h2 {
		font-size: 1em;
	}
}
